.Rproj.user
.Rhistory
.RData

output*
*.png
*.pdf
# from rstanarm
exec/*.rda
src/stan_files/*.o
src/stan_files/*.cc
src/stan_files/*.hpp
src/*.o
src/*.so
src/*.dll
src/init.o
man/*.Rd
revdep/*
inst/doc
